{% extends 'base.html' %}

{% load humanize %}

{% block title %}
Welcome {{user}}
{% endblock title %}

{% include 'partials/alerts.html' %}

{% block content %}

<!-- alerts -->
{% include "partials/alerts.html" %}
  <!-- rentals -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Rentals</h3>
      <div class="row">
      {% if rentals %}
      {% for rental in rentals %}
       
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src=" {{rental.photo_main.url}} " alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">FCFA{{rental.price|intcomma}}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{rental.name}}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{rental.city}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                  <i class="fas fa-car"></i> Seats: {{rental.seats}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                 Mileage: {{rental.mileage}}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i>{{rental.driver}}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> {{rental.list_date|timesince}}</div>
              </div>
              <hr>
              <a href="{% url 'rental' rental.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p>No rental available </p>
        </div>
        {% endif %}


      </div>
    </div>
  </section>


{% endblock content %}
